body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
nav {
  background-color: #444;
  overflow: hidden;
}
nav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
}
#new-post-form input[type="text"],
#new-post-form textarea,
#new-post-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#new-post-form button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
#new-post-form button:hover {
  background-color: #444;
}
.post {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.post h3,
.post p {
  margin: 10px 0;
}
.post img {
  max-width: 100%;
  height: auto;
}
.post button {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.post button:hover {
  background-color: #444;
}
.editing {
  display: flex;
  flex-direction: column;
}
.editing input,
.editing textarea {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
